<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Pay My Buddy</title>
    <link th:href="@{/styles/css/main.css}" rel="stylesheet" />
    <link th:href="@{/styles/css/contact.css}" rel="stylesheet" />
    <script src="script.js"></script>
</head>
<body>
<nav>
    <div><a class="navTitle" th:href="@{/}">PayMyBuddy</a></div>
    <div class="nav">
        <a th:href="@{/}">Home</a>
        <a th:href="@{/transactions}">Transfer</a>
        <a th:href="@{/profile}">Profile</a>
        <a class="selected" th:href="@{/contact}">Contact</a>
        <a th:href="@{/logout}">Log out</a>
    </div>
</nav>
<div class="nav2">
    <a class="home" th:href="@{/}">Home</a>
    <p> / </p>
    <p>Contact</p>
</div>
<div class="middle">
    <div class="flex">
        <form class="search" th:action="@{/addContact}" method="post">
            <input type="search" name="email" value="">
            <button class="add" name="Submit" type="Submit" >Search Connection</button>
        </form>
    </div>
    <table class="transactions">
        <thead>
        <tr>
            <th>Name</th>
            <th>Last Transaction</th>
            <th>Add Contact</th>
        </tr>
        </thead>
            <tbody>
            <tr th:each ="user : ${users}">
                <td th:text="${user.name}"></td>
                <td th:text="${user.email}"></td>
                <form class="middleTop" th:action="@{/addContact}" method="post">
                <input type="number" name="friendid" th:value="${user.id}" hidden>
                <td><button class="add" name="Submit" type="Submit" th:text="Add"></button></td>
                </form>
            </tr>
            </tbody>
    </table>
</div>
</body>
</html>